#headline {
  text-align: center;
}

@media (min-width: 300px) {
  #headline {
    /* font-size: 62px; */
    letter-spacing: -.3rem;
  }
}

@media (min-width: 375px) {
  #headline {
    letter-spacing: normal;
  }
}
@media (min-width: 428px) {
  #headline {
    letter-spacing: 3.5px;
  }
}


@media (min-width: 1024px) {
  #headline {
    letter-spacing: 6px;
  }
}

@media (min-width: 1280px) {
  #headline {
    letter-spacing: 12.5px;
  }
} 