@media (max-width: 810px) {
  #writing-cel {
    transition: background-color 300ms ease-in;
  }

  #writing-cel:active {
    background: #75FA4D;
  }
}

@media (min-width: 640px) {
  #writing-cel {
    background-image: linear-gradient(rgba(217, 217, 217) 0 0);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 300ms;
  }

  #writing-cel:hover {
    background-size: 100% 100%;
  }
}