@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
}

:root {
  --background: #E9E4E0;
}

body {
  background: var(--background, #E9E4E0);
}

#work-title {
  background: linear-gradient(to bottom, var(--background) 50%, rgba(0,0,0,0) 50%);
}